@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@media (max-width: 767px)
{
    .contact{
        padding:50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo
    {
        width:100%;
    }
    .contactForm{
        width:200px;
    }
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 60px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background:url(cover.png);
    background-size:cover;
    color:white;
}


.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 200px;
    font-weight: 500;
    color:#fff;
}
.contact .content p
{
    font-weight: 300;
    font-size: 20px;
    color:#fff;
    
}
.container {
    backdrop-filter:10px 10px 10px blur;
    width:100%;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 50px;   
}
.container .contactinfo
{
    width:50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .icon
{
    min-width: 60px;
    height:60px;
    color: black;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;

}
.icon{
    min-width: 60px;
    height:60px;
    color: black;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column ;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    background-color:black;
    font-weight:500;
    color: #06e2ff;
}
.container .contactinfo .box .text p
{
    background-color:black;
    font-weight:500;
    font-style: bolder;
    color: #ffffff;
}
.contactForm
{
    width:40%;
    padding: 40px;
    background:#fff;
}
.contactForm h2
{
    font-size: 30px;
    color:#333;    
    font-weight: 300;   
}
.contactForm .inputbox
{
    position:relative;
    width:100%;
    margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
    width: 100%;
    padding:5px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize:none;

}
.contactForm .inputbox span
{
    position:absolute;
    left:0;
    padding:0px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(19, 39, 214);
}
.contactForm .inputbox input:focus~span,
.contactForm .inputbox input:valid~span,
.contactForm .inputbox textarea:focus,
.contactForm .inputbox textarea:valid
{
    color: #1900ff;
    font-size: 12px;
    transform: translate (-20px);
    border-bottom:3px solid rgb(0, 17, 253);

}
